.loginContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginContainer input {
    min-width: 35%;
    height: 10%;
    padding: 10px;
    margin-bottom: 2em;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}

.loginContainer input:focus {
    border: 2px solid var(--active);
    outline: var(--active);
}

.loginContainer button {
    width: 5em;
    height: 5em;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
        rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    transition: 0.5s ease-in;
    cursor: pointer;
}

.loginContainer button:hover {
    color: var(--white);
    background-color: var(--active);
}

.loginContainer button svg {
    font-size: 2.5em;
}